<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.pixelwolf.pxmediaplayer">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".AlbumArtContentProvider"
            android:authorities="br.com.pixelwolf.pxmediaplayer.provider"
            android:exported="true" />
    </application>

</manifest>
